header {
    text-align: center;
    width: 10%;
    height: 100px;
    margin: auto;
}
body {
    z-index: 1;
}

h1 {
    font-size: 40px;
    border-top: 3px solid #FFE699;
    border-bottom: 3px solid #FFE699;

}

#log {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 20px;
}

#container {
    display: flex;
    justify-content: space-between;
}

nav {
    height: 80vh;
    width: 15%;
    background-color: #FFE699;
    margin-left: 0px;
    font-size: 20px;
}

#media_nav {
    position: absolute;
    height: 100vh;
    width: 50%;
    background-color: #FFE699;
    left: 0px;
    top: 0px;
    font-size: 14px;
    z-index: 4;
}

#media_menu {
    position: absolute;
    right: 1%;
    width: 20px;
    height: 20px;

}

#menu {
    display: none;
    width: 20px;
    height: 20px;
}

#me {
    font-size: 25px;
}

.member {
    font-size: 20px;
    margin: 15%;
}


.access {
    width: 25px;
    height: 25px;
}

.member_name {
    display: flex;
    align-items: center;
}


main {
    position: relative;
    height: 80vh;
    width: 80%;
    border-top: 3px solid #FECD70;
    margin-right: 0px;
    font-size: 25px;
}

#add_box {
    position: relative;
    width: 100%;
    height: 30vh;
    border: 1px solid;   
}

#add_box_title {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid;   
    text-align: center;
}

.in_add_box {
    font-size: 25px;
}

#add_date {
    position: absolute;
    left: 5%;
    width: 25%;
    height: 12%;
}


#select_time1 {
    position: absolute;
    left: 35%;
    width: 14%;
    height: 12%;
}

#select_time2 {
    position: absolute;
    left: 55%;
    width: 12%;
    height: 12%;
}

#hour {
    position: absolute;
    left: 68%;
}

#select_time3 {
    position: absolute;
    left: 75%;
    width: 12%;
    height: 12%;
}

#minute {
    position: absolute;
    left: 88%;
}

#input_todo {
    position: absolute;
    left: 5%;
    top: 40%;
    border: 0px;
    width: 70%;
    height: 50%;
}

#submit {
    position: absolute;
    right: 2%;
    bottom: 5%;    
    width: 13%;
    height: 15%;
}


#date {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 30px;
    text-align: center;
}

.next {
    width: 20px;
    height: 20px;
}

.year {
    display: inline;
}

.month {
    display: inline;
}

#add {
    font-size: 30px;
    position: absolute;
    right: 2%;
}

.day {
    margin: 5%;
}

.todo {
    position: absolute;
    left: 30%;
    font-size: 25px;
}

#schedule1_fix {
    position: absolute;
    left: 30%;
    font-size: 25px;
    top: 23%;
}

.list_todo {
    display: flex;
    
    width: 70%;
}

.fix_btn {
    position: absolute;
    right: 13%;
    width: 5%;
    height: 5%;
}

.delete_btn {
    position: absolute;
    right: 7%;
    width: 5%;
    height: 5%;
}

.fix_input_btn {
    position: absolute;
    right: 7%;
    width: 5%;
    height: 5%;
}

.date_plan {
    position: absolute;
    left: 25%;    
}


@media (max-width: 750px) {
    h1 {
        font-size: 22px;
    }
    nav {
        font-size: 13px;
        display: none;
    }
    main {
        width: 100%;
        font-size: 16px;
    }
    #menu {
        display: block;
    }
    .todo {
        font-size: 16px;
    }
    #month {
        font-size: 16px;
    }
    .next {
        width: 10px;
        height: 10px;
    }
    .member {
        font-size: 16px;
    }
    #me {
        font-size: 18px;
    }
    #add {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 22px;
    }
    nav {
        font-size: 13px;
        display: none;
    }
    main {
        width: 100%;
        font-size: 16px;
        height: 80vh;
    }
    .year {
        font-size: 20px;
    }
    .month { 
        font-size: 20px;
    }
    #menu {
        display: block;
    }
    .todo {
        font-size: 16px;
    }
    #month {
        font-size: 16px;
    }
    .next {
        width: 10px;
        height: 10px;
    }
    .member {
        font-size: 16px;
    }
    #me {
        font-size: 18px;
    }
    #add {
        font-size: 12px;
    }
    .in_add_box {
        font-size: 13px;
    }
    .fix_btn {
        position: absolute;
        right: 15%;
        width: 11%;
        height: 4%;
    }
    
    .delete_btn {
        position: absolute;
        right: 4%;
        width: 11%;
        height: 4%;
    }
}

/* 360으로도 만들기-f12 누르면 360까지 줄일 수 있음!! */